PORT=3000
MONGO_URI=mongodb://localhost:27017/notification-db

# AWS / SQS Configs
AWS_REGION=us-east-1
NOTIFICATION_QUEUE_NAME=image-pipeline-app-dev-notification-queue
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key

# SMTP configs
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@imageprocessing.com

# Retry strategy
WEBHOOK_RETRY_LIMIT=3
