PORT=3000
MONGO_URI=mongodb://localhost:27017/notification-db

# Kafka configs
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=notification-service
KAFKA_GROUP_ID=notification-group

# SMTP configs
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass
SMTP_FROM=noreply@imageprocessing.com

# Retry strategy
WEBHOOK_RETRY_LIMIT=3
